<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    
        <p>As an experienced engineering manager, I excel in initiating and executing green field start-up projects, establishing solid foundations.
          My strengths lie in assembling high-performing teams, aligning skills with project demands, and championing agile methodologies for adaptability and high-quality results.
          I prioritize mentorship, fostering soft skills, and accountability, while also advocating for innovation and knowledge sharing in a globalized, diverse team environment.
          My adaptability and resilience in dynamic settings underscore my commitment to achieving outstanding outcomes, embodying a holistic approach to engineering management.</p>



      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="/img/202407_Resume_Eng.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume 🏴󠁧󠁢󠁥󠁮󠁧󠁿
        </a>
        <a href="/img/202407_Resume_DEU.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume 🇩🇪
        </a>
      </div>
    </div>
  </div>
</section>
git 