<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    
        <p>As an experienced engineering manager, I bring a wealth of expertise in spearheading green field start-up projects.
          My proficiency extends to not only initiating these ventures but also orchestrating their seamless execution, resulting in the successful launch of innovative engineering initiatives.
          This track record of accomplishment reflects my adeptness in navigating uncharted territory and establishing solid foundations for projects from their inception.</p>
          
          <p>Recruitment stands as one of my core strengths, wherein I've consistently demonstrated an ability to assemble high-performing teams of developers and engineering managers.
            This involves a meticulous approach to identifying and onboarding individuals whose skills and expertise align precisely with the demands of the projects at hand.</p>
          
          <p>In addition to recruitment, my passion lies in agile methodologies, which I view not merely as a set of processes, but as a fundamental mindset driving project success.
            I believe that fostering agility within a team or organization is paramount to adaptability, efficiency, and, ultimately, the delivery of high-quality results.</p>
          
          <p>Mentorship and servant leadership are principles that underpin my approach to management.
            I derive immense satisfaction from guiding team members in their professional growth journeys, providing them with the tools and knowledge they need to excel in their roles.
            This commitment extends beyond the technical realm, encompassing the development of soft skills, leadership capabilities, and a deep sense of ownership and accountability.</p>
          
          <p>A steadfast advocate for innovation, I firmly believe that it's the cornerstone of progress in any field.
            I'm dedicated to creating an environment that encourages and nurtures innovative thinking, empowering team members to push boundaries and explore new solutions.
            This commitment to innovation extends to fostering a culture where knowledge sharing is not only encouraged but also celebrated.</p>
          
          <p>In a globalized world, effective communication across diverse, multicultural teams is paramount.
            I'm fluent in two languages, which not only facilitates seamless collaboration but also fosters a sense of inclusivity and cohesion among team members from different backgrounds.
            This proficiency allows for clearer, more concise communication and helps bridge potential language barriers.</p>
          
          <p>Adaptability is a quality I hold dear. Operating in dynamic environments has honed my ability to navigate uncertainty, pivot strategies, and lead teams through change with confidence.
            I see challenges as opportunities for growth, and my approach is characterized by resilience, resourcefulness, and an unwavering focus on achieving remarkable outcomes.</p>
          
          <p>In summary, my experience as an engineering manager is distinguished by a holistic approach that encompasses strategic planning, team development, and the implementation of agile methodologies.
            I am not only a practitioner of these principles but a passionate advocate for them.
            I believe in the power of a motivated, high-performing team and am committed to creating an environment where innovation thrives and excellence is the standard.</p>



      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="/img/202307_Resume_Eng.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
git 